<!DOCTYPE html>
<html>
<head>
  <title>Flight Booking System</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Welcome to the Flight Booking System</h1>
  <form action="/bookings/new" method="get">
    <button>New Booking</button>
</form>
<form action="/bookings" method="get">
    <button>All Bookings</button>
</form>
</body>
</html>